*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
}
html{
    font-size: 62.5%;
}
.main-navbar-wrapper{
    width: 100%;
    /* border: .1rem solid red; */
    background-color: #2874f0;
    color: white;
    padding: 1rem 0;
}
.navbar{
    width: 80%;
    height: 100%;
    /* border: .1rem solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.left-navbar{
    width: 49%;
    height: 100%;
    /* border: .1rem solid orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-navbar{
    width: 49%;
    height: 100%;
    /* border: .1rem solid orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.logo-wrap{
    width: 16%;
    /* border: .1rem solid palevioletred; */
    display: flex;
    flex-direction: column;
}
.bottom-img-wrap{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: .2rem;
}
.flipcart-txt-img img{
    width: 100%;
    height: 100%;
}
.explore-txt{

    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
}
.plus-txt{
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    color: #ffe500;
}
.icon-img{
    width: 11%;
}
.icon-img img{
    width: 100%;
    height: 100%;
}
.search-wrap{
    width: 80%;
    /* border: .1rem solid rgb(151, 17, 61); */
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .8rem ;
    border-radius: .2rem;
        
}
.search-wrap input{
    width: 70%;
    border: none;
    outline: none;
}
.search-wrap i{
    width: 10%;
    /* border: .1rem solid red; */
    color: #2874f0;
    text-align: center;
    font-size: 1.7rem;
}

.login-btn{
    color: #2874f0;
    background-color: white;
    border: none;
    outline: none;
    padding: .6rem 3.5rem;
    border-radius: .2rem;
    cursor: pointer;
}
.category-nav-wrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border: .1rem solid purple ; */
    align-items: center;
    padding-bottom: 1.2rem;
    box-shadow: 0 .1rem .3rem 0 rgba(0, 0, 0, .45);

}
.category-wrap{
    /* width: 7%; */
    display: flex;
    flex-direction: column;
    /* border: .1rem solid red; */
    cursor: pointer;
}
.ctg-img{
    width: 50%;
    margin: auto;
    padding-top: 2rem;
}

.ctg-img img{
    width: 100%;
    /* border: .1rem solid blue; */
    height: 100%;
}
.ctg-name{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

/* register form css */

.form-container{
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin: 4rem auto;
    box-shadow: 0 .1rem .3rem 0 rgba(0, 0, 0, .70);

}
.left-side-content{
    width: 40%;
    /* border: .1rem solid purple; */
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2874f0;
}
.l-right-side {
    width: 60%;
    /* border: .1rem solid green; */
    padding: 2rem 3rem;

}
.l-input-login {
    position: relative;
    width: 100%;
    height: 6rem;
    /* margin-bottom: 2rem; */
}

.l-input-login>input {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    padding: 1.4rem;
    /* border: .2rem solid red; */
    font-size: 1.4rem;
}

.l-input-login>label {
    position: absolute;
    top: 1;
    left: 1;
    padding: 1.4rem;
    display: inline-block;
    font-size: 1.4rem;
    transition: .5s;
    pointer-events: none;

}

.l-input-login input:focus~label,
.l-input-login input:valid~label {
    transform: translateX(-1rem) translateY(-1.8rem);
    font-size: 1rem;
    /* margin-top: 1.8rem; */
}
.l-close-btn>a {
    font-size: 2rem;
    color: #535665;
    cursor: pointer;
    font-weight: 600;
    outline: none;

}
.l-input-login {
    border-bottom: .1rem solid lightgray;
    padding: 1rem;
    font-size: 1.4rem;
    /* margin-top: 3rem; */
}

.l-input-login>input {
    margin-top: 1rem;
    border: none;
    outline: none;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: #282c3f;
    line-height: 1.2;
    letter-spacing: .04rem;
    font-family: sans-serif;

}
.l-login-btn {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.l-login-btn>input {
    width: 100%;
    cursor: pointer;
    text-align: center;
    border: none;
    display: inline-block;
    line-height: .5rem;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 2.2rem;
    margin-top: 1rem;
    color: white;
    background-color: #fc8019;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

}

.l-existing-user {
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
    text-align: center;
    border: none;
    display: inline-block;
    line-height: .5rem;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 2.2rem;
    margin-top: 1rem;
    color: #2874f0;
    background-color:white;
    box-shadow: 0 .1rem .3rem 0 rgba(0, 0, 0, .35);

}
.l-login-para {
    font-size: 1.4rem;
    color: #686b78;
    line-height: 1.2;
    margin-top: 1.4rem;
}

.l-login-para>p>a {
    text-decoration: none;
    color: #2874f0;
    cursor: pointer;
}
.top-heading-form{
    font-size: 2.5rem;
    color: white;

}
.sign-up-txt-reg{
    font-size: 1.8rem;
    font-weight: normal;
    color: white;
    margin-top: 1.6rem;
}
.left-b-img-wrap img{
    width: 100%;
    height: 100%;
}
#login-screen .left-b-img-wrap{
    margin-top: 14rem;
}

.logout-button-txt{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
}

/* multiple products */

.products-wrapper{
    width: 96%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 4rem auto;
}
.Singleproduct{
    border: .1rem solid lightgray;
    width: 18%;
    cursor: pointer;
}
.product-image-wrapper{
    width: 100%;
    height: 28rem;

}
.product-image-wrapper img{
    width: 100%;
    height: 100%;
}
.product-info-wrapper{
    width: 100%;
    /* border: .1rem solid green; */
    padding: .5rem;
}
.productBrandName{
    font-size: 1.4rem;
    color: rgb(135, 135, 135);
    font-weight: 550;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: .01rem;
    margin-bottom: .4rem;
}
.proname-fcart-assured{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .4rem;

}
.productName{
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.4rem ;
}
.f-assured-img-wrap{
    width: 30%;
}
.f-assured-img-wrap img{
    width: 100%;
    height: 100%;
}
.price-info-wrap{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: .4rem;

}
.actual-p-price{
    font-size: 1.4rem;
}
.strike-price{
    font-size: 1.2rem;
    text-decoration: line-through;
    color: #878787;
}
.discount-txt{
    color: #388e3c;
    font-size: 1.4rem;
    font-weight: 550;
}
.product-size{
    font-size: 1.4rem;
    color: rgb(135, 135, 135);
    margin-bottom: .3rem;

}
.size-info{
    font-size: 1.4rem;
    color: #212121;
}
.banner-wrap img{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}





































