*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
}
html{
    font-size: 62.5%;
}
.main-navbar-wrapper{
    width: 100%;
    /* border: .1rem solid red; */
    background-color: #2874f0;
    color: white;
    padding: 1rem 0;
}
.navbar{
    width: 75%;
    height: 100%;
    /* border: .1rem solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.left-navbar{
    width: 49%;
    height: 100%;
    /* border: .1rem solid orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-navbar{
    width: 49%;
    height: 100%;
    /* border: .1rem solid orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
}
.logo-wrap{
    width: 16%;
    /* border: .1rem solid palevioletred; */
    display: flex;
    flex-direction: column;
}
.bottom-img-wrap{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: .2rem;
}
.flipcart-txt-img img{
    width: 100%;
    height: 100%;
}
.explore-txt{

    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
}
.plus-txt{
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    color: #ffe500;
}
.icon-img{
    width: 11%;
}
.icon-img img{
    width: 100%;
    height: 100%;
}
.search-wrap{
    width: 80%;
    /* border: .1rem solid rgb(151, 17, 61); */
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .8rem ;
    border-radius: .2rem;
        
}
.search-wrap input{
    width: 70%;
    border: none;
    outline: none;
}
.search-wrap i{
    width: 10%;
    /* border: .1rem solid red; */
    color: #2874f0;
    text-align: center;
    font-size: 1.7rem;
}

.login-btn{
    color: #2874f0;
    background-color: white;
    border: none;
    outline: none;
    padding: .6rem 3.5rem;
    border-radius: .2rem;
}
.category-nav-wrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.category-wrap{
    width: 7%;
    display: flex;
    flex-direction: column;
    /* border: .1rem solid red; */
    padding: 1rem;
}

.ctg-img img{
    width: 100%;
    margin: auto;
    /* border: .1rem solid blue; */
    height: 100%;
}
.ctg-name{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}















